

<span><h1><%= link_to current_user.name , current_user %> </h1> 
<%= image_tag current_user.profile_pic.url if current_user.profile_pic? %>
</span><br />
<span><%= pluralize(current_user.microposts.count, "Micropost") %></span>
